<app-nav-menu moduleName="leaderboard"></app-nav-menu>

<div class="container mt-4 text-center">
    <h1>Leaderboard MPL S9</h1>
    <table class="table table-striped">
        <thead class="bg-primary text-white">
            <th>No.</th>
            <th>Tim</th>
            <th>Pts.</th>
        </thead>
        <tbody>
            <tr class="bg-gold">
                <td><img src="assets/img/medal/gold.png" alt="gold"></td>
                <td>RRQ</td>
                <td>2170 Pt</td>
            </tr>
            <tr class="bg-silver">
                <td><img src="assets/img/medal/silver.png" alt="silver"></td>
                <td>Onix</td>
                <td>1990 Pt</td>
            </tr>
            <tr class="bg-bronze">
                <td><img src="assets/img/medal/bronze.png" alt="bronze"></td>
                <td>Evos</td>
                <td>1870 Pt</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Alter Ego</td>
                <td>1660 Pt</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Geek</td>
                <td>1640 Pt</td>
            </tr>
            <tr>
                <td>6</td>
                <td>RBG</td>
                <td>1550 Pt</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Aerowolf</td>
                <td>1430 Pt</td>
            </tr>
        </tbody>
    </table>
</div>

<app-footbar></app-footbar>
