<app-nav-menu moduleName="tournament"></app-nav-menu>

<div class="container mt-4">
    <h1 class="text-center">Jadwal Turnamen MPL S9</h1>
    <table class="table table-striped">
        <thead class="bg-primary text-white">
            <th colSpan="3" class="text-center">Pertandingan</th>
            <th class="text-center">Tanggal / Jam</th>
        </thead>
        <tbody>
            <tr>
                <td>RRQ</td>
                <td class="text-end"><span class="text-danger fw-bold">Vs</span></td>
                <td class="text-end">Alter Ego</td>
                <td class="text-center">29 Oktober 2021 / 13.00 WIB</td>
            </tr>
            <tr>
                <td>Onix</td>
                <td class="text-end"><span class="text-danger fw-bold">Vs</span></td>
                <td class="text-end">Evos</td>
                <td class="text-center">29 Oktober 2021 / 18.00 WIB</td>
            </tr>
            <tr>
                <td>BTR</td>
                <td class="text-end"><span class="text-danger fw-bold">Vs</span></td>
                <td class="text-end">Geek</td>
                <td class="text-center">30 Oktober 2021 / 13.00 WIB</td>
            </tr>
            <tr>
                <td>RBG</td>
                <td class="text-end"><span class="text-danger fw-bold">Vs</span></td>
                <td class="text-end">Aerowolf</td>
                <td class="text-center">29 Oktober 2021 / 18.00 WIB</td>
            </tr>
        </tbody>
    </table>
</div>

<app-footbar></app-footbar>