<app-nav-menu moduleName="profile"></app-nav-menu>

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center"> <img src="assets/img/profile.jpg" width="100" class="rounded-circle"> </div>
                <div class="text-center mt-3"> <span class="bg-secondary p-1 px-4 rounded text-white">Game Master</span>
                    <h5 class="mt-2 mb-0">Gideon</h5> <span>Mythic Glory</span>
                    <div class="px-4 mt-1">
                        <p><span class="fw-bold">Username</span> ({{ username }}) <br> <span class="fw-bold">Nama</span> ({{ name }}) <br> <span class="fw-bold">Jenis Kelamin</span> ({{ jk }}) <br> <span class="fw-bold">Kota</span> ({{ kota }})</p>
                    </div>
                    <ul class="social-list">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-dribbble"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                        <li><i class="fa fa-google"></i></li>
                    </ul>
                    <div class="buttons"> <button class="btn btn-outline-primary px-4">Message</button> <button class="btn btn-primary px-4 ms-3">Contact</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footbar></app-footbar>